@font-face {
    font-family: Dune Rise;
    src: url(./Dune_Rise.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:aliceblue
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
}
#nav{
    height: 10%;
    width: 100%;
    display: flex;
}
#navleft{
    height: 100%;
    width: 72%;
}
#navright{
    height: 100%;
    width: 28%;
    border-bottom:0.5px solid aliceblue ;
    display: flex;
}
.navboxes{
    height: 100%;
    width: 33.33%;
    border-left: solid 0.5px aliceblue;
}
button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: Dune Rise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-small;
}
button:hover{
    background-color: aliceblue;
    
}
button:hover a{
    color: #000;
}